.nav{
  display: absolute;
  top:0;
  left: 0;
  right: 0;
  background-color: #fff;
  justify-content: center;
  align-content: center;
}
.tout{
  display:grid;
  grid-template-columns: 10% 60%;
  column-gap: 30%;
  justify-content: center;
  align-content: center;
}
.nav a{
  text-decoration: none;
}
.brand-image{
  height:5rem;
  width:10rem;

}
.home{
  color:#FA4A0C
}
.navlink{
}
